@* Razor view for song 3
    Header and footer shared with layout view*@

@{
    ViewData["Title"] = "My Music Store";
}


<div class="text-center"><h1>Sweet Child O' Mine</h1></div>
<div class="text-center">
    <h2><a href=https://www.youtube.com/watch?v =1w7OgIMMRc4" target="_blank">Guns N Roses</a></h2>
    <div class="text-center">
        <img src="/images/gunsnroses.jpg" alt="">
    </div>
    <div class="text-center">
        <div>
            She's got a smile that it seems to me<br>
            Reminds me of childhood memories<br>
            Where everything<br>
            Was as fresh as the bright blue sky<br>
            <br>
            Now and then when I see her face<br>
            It takes me away to that special place<br>
            And if I stared too long<br>
            I'd probably break down and cry<br>
            <br>
            Sweet child o' mine<br>
            Sweet love of mine<br>
            <br>
            She's got eyes of the bluest skies<br>
            As if they thought of rain<br>
            I'd hate to look into those eyes<br>
            And see an ounce of pain<br>
            <br>
            Her hair reminds me of a warm safe place<br>
            Where as a child I'd hide<br>
            And pray for the thunder and the rain<br>
            To quietly pass me by<br>
            <br>
            Sweet child o' mine<br>
            Sweet love of mine<br>
            <br>
            Sweet child o' mine<br>
            Sweet love of mine<br>
            <br>
            Sweet child o' mine<br>
            Sweet love of mine<br>
            <br>
            Where do we go?<br>
            Where do we go now?<br>
            Where do we go?<br>
            <br>
            Where do we go?<br>
            Where do we go?<br>
            Where do we go now?<br>
            <br>
            Where do we go?<br>
            Sweet child o' mine<br>
            Where do we go now?<br>
            <br>
            Where do we go?<br>
            Where do we go?<br>
            Where do we go now?<br>
            <br>
            Where do we go?<br>
            Where do we go now?<br>
            Where do we go?<br>
            Where do we go now?<br>
            <br>
            Where do we go?<br>
            Where do we go now, now, now, now, now, now, now now?<br>
            <br>
            Sweet child, sweet child o' mine
        </div>

    </div>

</div>

