@{
    ViewData["Title"] = "My Music Store";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Music Store</h1>
    <p>Your one stop destintion for all your favorite songs!</p>
</div>
